@media (min-width: 1201px) {
    .footer__support-btn {
        grid-column: 3;
        grid-row: 1;
    }
    .footer__nav {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-top: 5px;
    }
    .footer__socials {
        grid-column: 4;
        grid-row: 1;
        display: flex;
        justify-self: end;
    }
    .footer__links1 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .footer__copyright {
        grid-column: 1;
        grid-row: 3;
    }
    .footer__links2 {
        grid-column: 2 / 4;
        grid-row: 3;
        margin-top: 3px;
        display: flex;
    }
    .developed-by {
        grid-column: 4;
        grid-row: 3;
        justify-self: end;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: 329px 321px auto auto;
        grid-template-rows: 52px 63px auto;
    }
}

@media (min-width: 1201px) {
    .h2_800 {
        font-weight: 800;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .appeals__title::before {
        top: 5px;
    }
    h3,
    .switchers__item {
        font-size: 20px;
        line-height: 30px;
    }
    h5,
    .tabs__item {
        font-size: 16px;
        line-height: 24px;
    }
    .wrapper {
        max-width: 770px;
    }
    .headergov__logo {
        width: 79px;
        margin-top: 0px;
    }
    .navigation__item {
        margin-right: 30px;
    }
    .footer {
        padding: 21px 0 12px;
        height: 247px;
    }
    .footer__nav {
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .footer__links1 {
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        left: 40%;
        top: 0;
    }
    .footer__support-btn {
        position: absolute;
        left: 40%;
        top: 103px;
    }
    .footer__socials {
        position: absolute;
        right: 0;
        top: 0;
    }
    .footer__links2 {
        font-size: 10px;
        line-height: 13px;
        text-align: end;
        position: absolute;
        right: 0;
        top: 59px;
    }
    .footer__nav,
    .footer__links1,
    .footer__links2 {
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .footer__links2 .footer-links__item:nth-child(1) {
        order: 2;
    }
    .footer__links2 .footer-links__item:nth-child(2) {
        order: 3;
    }
    .footer__links2 .footer-links__item:nth-child(3) {
        order: 0;
    }
    .footer__links2 .footer-links__item:nth-child(4) {
        order: 1;
    }
    .developed-by {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer__logo {
        width: 66px;
    }
    .footer__socials,
    .footer__copyright {
        display: flex;
    }
    .footer__copyright {
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .footer-links__item,
    .footer-nav__item {
        margin-right: 0 !important;
        margin-bottom: 11px;
    }
    .hello {
        padding: 75px 0 100px;
    }
    .hello__title {
        margin-bottom: 0;
        max-width: 59%;
    }
    .hello__description {
        max-width: 46%;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 60px;
    }
    .hello__call {
        padding: 20px 41px;
    }
    .call__description {
        display: none;
    }
    .call__description2 {
        display: block;
    }
    .call__buttons {
        margin-left: 45px;
    }
    .call__button {
        width: 60px;
        height: 60px;
        margin-right: 30px;
    }
    .call__button_tg {
        padding: 14px;
    }
    .call__button_vbr {
        padding: 10px;
    }
    .call__button_msng {
        padding: 14px;
    }
    .hello__phone {
        height: 500px;
        width: 247.11px;
        right: 65px;
        bottom: -40px;
    }
    .phone__image {
        height: 500px;
    }
    .phone__content {
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 8px;
    }
    .phone__content img {
        width: 91%;
    }
    .howtouse {
        padding-top: 20px;
        padding-bottom: 90px;
    }
    .howtouse__title {
        margin-bottom: 50px;
    }
    .switchers__item {
        margin-right: 87px;
    }
    .howtouse__switchers {
        margin-bottom: 64px;
    }
    .howtouse-content-wrapper {
        margin: 0 -5px;
    }
    .howtouse-content__image {
        width: 180px;
        height: 180px;
        padding: 30px;
        margin-bottom: 30px;
    }
    .howtouse-content__title {
        margin-bottom: 25px;
    }
    .howtouse-content__item {
        width: 260px;
    }
    .howtouse-content__item:nth-child(1) .howtouse-content__description {
        width: 100%;
    }
    .howtouse-content__item:nth-child(2) .howtouse-content__description {
        width: 100%;
    }
    .howtouse-content__item:nth-child(3) .howtouse-content__description {
        width: 100%;
    }
    .howtouse__switcher-contents {
        height: 398px;
    }
    .howtouse-content__item:nth-child(1) .howtouse-content__image::after,
    .howtouse-content__item:nth-child(2) .howtouse-content__image::after {
        width: 45px;
        right: -64px;
    }
    .benefits {
        padding-bottom: 40px;
    }
    .benefits__title {
        margin-bottom: 60px;
    }
    .benefits .switchers__item {
        margin-right: 60px;
    }
    .benefits__tabs {
        margin-top: 50px;
    }
    .tabs__title {
        margin-bottom: 30px;
    }
    .benefits__switchers {
        margin-bottom: 10px;
    }
    .tab-contents__number {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: 80.3px;
    }
    .benefits__tab-contents {
        width: 230px;
        margin-right: 10px;
    }
    .tab-contents__description {
        font-size: 12px;
        line-height: 15px;
    }
    .benefits__bg {
        height: 350px;
        width: calc(50% - 85px);
        top: 90px;
    }
    .benefits__switcher-contents {
        height: 310px;
    }
    .appeals__title {
        margin-bottom: 50px;
    }
    .appeals {
        padding: 50px 0 40px;
    }
    .appeal__item {
        height: 380px;
    }
    .swiper {
        height: 415px;
    }
    .appeal__head {
        padding: 20px 15px 35px;
    }
    .appeal-date__day {
        padding-left: 28px;
    }
    .appeal-date__time {
        padding-left: 27px;
    }
    .appeal-date__time::before {
        top: -1px;
    }
    .appeal__body {
        padding: 12px 15px 20px;
    }
    .appeal__category,
    .appeal__location {
        margin-bottom: 12px;
    }
    .appeal__author {
        margin-bottom: 35px;
    }
    .stat__status {
        display: none;
    }
    .mapStat {
        padding-bottom: 15px;
    }
    #map {
        width: 358px;
        margin-left: 92px;
    }
    .mapStat__stat {
        width: 230px;
        padding: 4px 20px 0px;
    }
    .stat__item {
        margin-bottom: 50px;
    }
    .partners__item img {
        height: 40px;
    }
    .partners-slider {
        height: 45px;
        width: calc(100% - 100px);
    }
    .partnerMODT {
        font-size: 12px;
        line-height: 13.5px;
        width: 92px;
        margin-left: 0px;
    }
    .partnerMOFAOD {
        font-size: 12px;
        line-height: 14.7px;
        width: 110px;
    }
    .partners {
        padding: 34px 0 82px;
    }
    .partners__title {
        margin-bottom: 30px;
    }
    .follow {
        height: 76px;
    }
    .follow__title {
        display: none;
    }
    .follow__submit {
        width: 120px;
    }
    .follow__email {
        margin-right: 58px;
        width: 534px;
    }
    .follow__form {
        margin-left: auto;
        margin-right: auto;
    }
    .follow__submit {
        padding: 11px 0;
    }
    .input_bordered {
        padding: 9px 20px;
    }
    .partners .partners-slider-prev {
        left: 10px;
    }
    .partners .partners-slider-next {
        right: 10px;
    }
    .input_bordered {
        font-size: 16px;
        line-height: 20px;
    }
    .contacts__map {
        width: 370px;
        height: 475px;
    }
    .contacts {
        padding: 36px 0 40px;
    }
    .contactus__title {
        font-size: 32px;
        line-height: 40px;
        max-width: 325px;
    }
    .contactus__form {
        padding: 40px 25px;
        width: 370px;
    }
    .contactus__label,
    .contactus__input,
    .contactus__policy {
        font-size: 12px;
        line-height: 15px;
    }
    .contactus__label {
        margin-bottom: 15px;
    }
    .contactus__input {
        padding-bottom: 13px;
    }
    .contactus__policy {
        margin-bottom: 45px;
    }
    .whowe {
        padding-top: 71px;
        padding-bottom: 188px;
    }
    .whowe__image_d {
        display: none;
    }
    .whowe__image_t {
        display: block;
        width: 473px;
        object-fit: contain;
    }
    .whowe__gromada span {
        font-size: 40px;
        line-height: 50px;
        font-weight: 800;
    }
    .whowe__logoASTIN {
        width: 124px;
        margin-right: 20px;
    }
    .whowe__icon_bold {
        margin-top: 7.62px;
        margin-left: 2px;
        margin-right: 1px;
    }
    .whowe__content {
        width: 370px;
        margin-bottom: 10px;
    }
    .whowe__logo {
        margin-bottom: 20px;
    }
    .whowe__preview {
        margin-left: -2px;
    }
    .mission {
        padding-bottom: 86px;
    }
    .mission__title {
        margin-bottom: 105px;
    }
    .mission__image {
        width: 230px;
    }
    .mission__item_1 {
        margin-bottom: 67px;
    }
    .mission__item_1 .mission__description {
        width: 370px;
    }
    .mission__item_2 .mission__description {
        width: 470px;
    }
    .mission__item_1 .mission__image {
        margin-right: 17px;
    }
    .mission__item_2 .mission__image {
        margin-left: 0;
    }
    .roadmap__title {
        margin-bottom: 87px;
    }
    .roadmap__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 60px;
        width: 640px;
    }
    .roadmap__item_1,
    .roadmap__item_2,
    .roadmap__item_5,
    .roadmap__item_6 {
        margin-left: -65px;
    }
    .roadmap__item_3,
    .roadmap__item_4 {
        margin-left: 65px;
        margin-right: -65px;
    }
    .roadmap__item_1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .roadmap__item_2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    .roadmap__item_3 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .roadmap__item_4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .roadmap__item_5 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .roadmap__item_6 {
        grid-area: 3 / 2 / 4 / 3;
    }
    .roadmap__item_1::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -69px;
    }
    .roadmap__item_2::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -69px;
    }
    .roadmap__item_2::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_v.svg);
        height: 157px;
        width: 4px;
        background-size: cover;
        top: 50%;
        transform: translateY(-2px);
        right: -69px;
    }
    .roadmap__item_3::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        left: -69px;
        right: auto;
    }
    .roadmap__item_3::after {
        display: none;
    }
    .roadmap__item_4::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        left: -69px;
        right: auto;
    }
    .roadmap__item_4::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_v.svg);
        height: 157px;
        width: 4px;
        background-size: cover;
        top: 50%;
        transform: translateY(-2px);
        left: -69px;
    }
    .roadmap__item_5::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -69px;
        left: auto;
    }
    .donors {
        padding-bottom: 89px;
    }
    .donors__title {
        margin-bottom: 90px;
        margin-left: 8px;
    }
    .donors__item_1 .donors__image {
        margin-top: 4.3px;
        margin-left: 2px;
        width: 220px;
    }
    .donors__item_2 .donors__image {
        margin-top: 0;
        width: 216px;
    }
    .donors__description {
        width: 470px;
    }
}

@media (max-width: 810px) {
    .wrapper {
        max-width: 100%;
        padding: 0 20px
    }
    .footer__wrapper {
        margin: 0 20px;
    }
    .howtouse-content__item {
        width: 245px;
    }
    .howtouse-content-wrapper {
        margin: 0 -15px;
    }
    .benefits__tab-contents {
        margin-right: 0;
    }
    .whowe {
        padding-top: 0;
        padding-bottom: 60px;
    }
    .whowe__content {
        width: 100%;
        text-align: center;
    }
    .whowe__preview {
        margin-left: -40px;
    }
    .whowe__image_t {
        display: none;
    }
    .whowe__preview {
        margin-left: 7.55px;
        margin-bottom: 20px;
        margin-right: -20px;
    }
    .whowe__image_m {
        display: block;
        width: 100%;
        object-fit: contain;
    }
    .whowe__content {
        margin-bottom: 0;
    }
    .mission__item_2 .mission__description {
        width: 450px;
    }
    .roadmap__items {
        grid-column-gap: 50px;
        grid-row-gap: 30px;
        width: 590px;
    }
    .roadmap__item_1::before {
        right: -46px;
    }
    .roadmap__item_2::before {
        right: -46px;
    }
    .roadmap__item_2::after {
        right: -46px;
    }
    .roadmap__item_3::before {
        left: -46px;
    }
    .roadmap__item_4::before {
        left: -46px;
    }
    .roadmap__item_4::after {
        left: -46px;
    }
    .roadmap__item_5::before {
        right: -46px;
    }
}

@media (max-width: 767px) {
    .howtouse-content__item {
        width: 260px;
    }
    .howtouse-content {
        width: max-content;
        margin: 0 45px;
    }
    .howtouse-content-wrapper {
        width: calc(100% + 40px);
        margin: 0 -20px;
        overflow-x: scroll;
    }
    .whowe__wrapper {
        flex-direction: column-reverse;
    }
    .whowe__logo {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 20px;
        line-height: 25px;
    }
    h2 {
        font-size: 18px;
        line-height: 23px;
    }
    .appeals__title::before {
        top: 1px;
    }
    h3,
    .switchers__item {
        font-size: 16px;
        line-height: 24px;
    }
    h4,
    .howtouse-content__description,
    .mapStat__stat {
        font-size: 14px;
        line-height: 17px;
    }
    .stat__count {
        font-size: 20px;
        line-height: 25px;
    }
    .hello {
        padding: 14px 0 85px;
    }
    .hello__title {
        margin-bottom: 10px;
        max-width: 335px;
    }
    .hello__description {
        max-width: 335px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 50px;
    }
    .hello__call {
        padding: 14px 51px 14px 0;
        margin-right: -20px;
        border-radius: 0;
        margin-left: -20px;
        width: calc(100% + 40px);
    }
    .call__description2 {
        display: none;
    }
    .call__buttons {
        flex-direction: column;
        margin-left: 80px;
    }
    .call__button {
        width: 50px;
        height: 50px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .call__button:last-child {
        margin-bottom: 0;
    }
    .call__button_tg {
        position: relative;
    }
    .call__button_tg::before {
        content: "@astininfobot";
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        position: absolute;
        top: -42px;
        left: -31px;
    }
    .call__button_tg {
        padding: 10px 10px 8px 8px;
    }
    .call__button_vbr {
        padding: 5px;
    }
    .call__button_msng {
        padding: 9px;
    }
    .hello__phone {
        height: 400px;
        width: 197.69px;
        right: 20px;
        bottom: -45px;
        margin-right: 80px;
    }
    .phone__image {
        height: 400px;
    }
    .phone__content {
        left: 6px;
        right: 9px;
        top: 7px;
        bottom: 7px;
    }
    .switchers__item {
        margin-right: 0;
    }
    .howtouse {
        padding-top: 18px;
        padding-bottom: 0;
    }
    .howtouse__switchers {
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .howtouse__title {
        margin-bottom: 60px;
    }
    #switcher1:checked~.block-with_switchers .switchers__item_1,
    #switcher2:checked~.block-with_switchers .switchers__item_2 {
        color: var(--blue-color);
    }
    .howtouse-content__title {
        margin-bottom: 32px;
    }
    .howtouse__switcher-contents {
        height: 378px;
    }
    .benefits {
        padding-top: 60px;
    }
    .benefits__bg {
        width: calc(50% - 40px);
        top: 123px;
    }
    .benefits__title {
        margin-bottom: 40px;
    }
    .benefits__switcher-contents {
        height: 316px;
    }
    .mapStat__stat {
        width: 200px;
    }
    #map {
        margin-left: 40px;
    }
    .partners__title {
        margin-bottom: 40px;
    }
    .follow__form {
        width: 100%;
    }
    .follow__email {
        margin-right: 5%;
        width: 70%;
        margin-left: auto;
    }
    .follow__submit {
        margin-right: auto;
    }
    .contacts__title {
        font-size: 20px;
        line-height: 25px;
    }
    .contacts__wrapper {
        flex-direction: column;
    }
    .contacts__map {
        width: 100%;
        height: 320px;
    }
    .contacts {
        padding: 31px 0 30px;
    }
    .contacts__title {
        margin-bottom: 40px;
    }
    .contacts_contact {
        margin-bottom: 0;
        line-height: 30px;
    }
    .contacts_contact br {
        display: block;
    }
    .contacts__item {
        margin-bottom: 20px;
    }
    .contacts__title {
        margin-bottom: 35px;
    }
    .contacts__info {
        margin-bottom: 25px;
    }
    .policy__title_h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 40px;
        font-weight: 800;
    }
    .policy__title_h3 {
        font-size: 18px;
        line-height: 23px;
    }
    .policy__title_h4 {
        font-size: 16px;
        line-height: 26px;
    }
    .policy__li,
    .policy__description {
        font-size: 12px;
        line-height: 15px;
    }
    .policy {
        padding: 30px 0 45px;
    }
    .policy__li {
        margin-left: 20px;
    }
    .mission__title {
        margin-bottom: 40px;
    }
    .mission__image {
        margin-bottom: 40px;
    }
    .mission__item_1 {
        margin-bottom: 40px;
    }
    .mission__item_1 .mission__description {
        width: 100%;
    }
    .mission__item_2 .mission__description {
        width: 100%;
    }
    .mission__item_1 .mission__image {
        margin-right: 0;
        width: 270px;
    }
    .mission__item_2 .mission__image {
        width: 300px
    }
    .mission__item {
        flex-direction: column;
        align-items: center;
    }
    .mission {
        padding-bottom: 60px;
    }
    .roadmap {
        padding-bottom: 61px;
    }
    .roadmap__title {
        margin-bottom: 40px;
    }
    .roadmap__items-wrapper {
        display: block;
        overflow-x: auto;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
    }
    .roadmap__items {
        display: flex;
        grid-template-columns: initial;
        grid-template-rows: initial;
        grid-column-gap: 0;
        grid-row-gap: 0;
        width: max-content;
    }
    .roadmap__item {
        margin-left: 20px;
        margin-right: 38px;
    }
    .roadmap__item::after {
        display: none;
    }
    .roadmap__item_1::before {
        position: absolute;
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
        left: auto;
    }
    .roadmap__item_2::before {
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
        left: auto;
    }
    .roadmap__item_3::before {
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
        left: auto;
    }
    .roadmap__item_4::before {
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
        left: auto;
    }
    .roadmap__item_5::before {
        background-image: url(../../assets/img/road_dots_h.svg);
        height: 4px;
        width: 38px;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -48px;
        left: auto;
    }
    .donors {
        padding-bottom: 61px;
    }
    .donors__title {
        margin-bottom: 40px;
        margin-left: 6px;
    }
    .donors__item {
        flex-direction: column;
        margin-bottom: 37px;
    }
    .donors__item_1 .donors__image {
        margin-top: 6px;
        margin-bottom: 26.1px;
        margin-left: 3px;
        margin-right: 1.24px;
        width: calc(100% - 4.24px);
        max-width: 400px;
    }
    .donors__item_2 .donors__image {
        width: calc(100% - 51.63px);
        margin-bottom: 40px;
        margin-right: 51.63px;
        max-width: 400px;
    }
    .donors__description {
        width: 100%;
        font-size: 12px;
        line-height: 15px;
    }
    .donors__description p {
        margin-bottom: 9px;
    }
}

@media (max-width: 650px) {
    .headergov {
        height: 40px;
    }
    .headergov__nav {
        display: none;
    }
    .footer__links1 {
        left: 33%;
    }
    .footer__support-btn {
        left: 33%;
    }
    .call__buttons {
        margin-left: 0;
        width: calc(100% - 156px);
        align-items: center;
    }
    .hello__phone {
        margin-right: 0;
    }
    .benefits__tabs,
    .tab-contents__number {
        display: none;
    }
    .tab-contents__title {
        display: block;
        font-size: 14px;
        line-height: 21px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 20px;
        white-space: pre;
    }
    .benefits {
        padding-bottom: 80px;
    }
    .benefits__switchers {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .benefits .switchers__item {
        margin-right: 0;
    }
    .tab-contents__description {
        width: 280px;
        min-height: 87px;
    }
    .tab-contents__item_1 .tab-contents__description {
        width: 230px;
    }
    .benefits-content {
        height: 100%;
        display: block;
    }
    .benefits__bg {
        display: none;
    }
    .benefits__switcher-contents {
        height: 200px;
        margin: 0 -20px;
        padding: 40px 20px 32px;
        background-color: var(--primary-color);
    }
    .benefits .switcher-contents__item {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
    }
    .benefits__mobile-tabs {
        display: flex;
        width: calc(100% + 40px);
        position: absolute;
        left: -20px;
        bottom: -40px;
    }
    .mobile-tabs__item {
        height: 40px;
        width: 25%;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 27px;
        font-weight: 900;
    }
    .mobile-tabs__bg {
        position: absolute;
        z-index: -1;
        height: 100px;
        width: 25%;
        left: 0;
        top: -60px;
        bottom: 0;
        background-color: var(--primary-color);
        border-radius: 0px 0px 16px 0px;
    }
    #tab1:checked~.block-with_tabs .mobile-tabs__bg,
    #tab5:checked~.block-with_tabs .mobile-tabs__bg {
        left: 0;
    }
    #tab2:checked~.block-with_tabs .mobile-tabs__bg,
    #tab6:checked~.block-with_tabs .mobile-tabs__bg {
        left: 25%;
        border-radius: 0px 0px 16px 16px;
    }
    #tab3:checked~.block-with_tabs .mobile-tabs__bg,
    #tab7:checked~.block-with_tabs .mobile-tabs__bg {
        left: 50%;
        border-radius: 0px 0px 16px 16px;
    }
    #tab4:checked~.block-with_tabs .mobile-tabs__bg,
    #tab8:checked~.block-with_tabs .mobile-tabs__bg {
        left: 75%;
        border-radius: 0px 0px 0px 16px;
    }
    .mapStat__wrapper {
        flex-direction: column;
    }
    .mapStat__map {
        width: 100%;
        margin-right: 0;
        padding: 0 0 0 5px;
        margin-bottom: 30px;
    }
    #map {
        width: 100%;
        margin-left: 0;
    }
    .mapStat {
        padding-bottom: 73px;
    }
    .mapStat__stat {
        width: 100%;
        padding: 0 0 0 0;
        display: flex;
    }
    .stat__item {
        margin-bottom: 0;
    }
    .stat__item:first-child {
        margin-right: auto;
    }
    .stat__item:last-child {
        margin-bottom: 0;
        margin-right: 12px;
    }
    .stat__count {
        margin-bottom: 11px;
    }
    .stat__increase {
        margin-left: 21px;
    }
    .partners {
        padding: 0 0 60px;
    }
    .contactus__title {
        max-width: 200px;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 570px) {
    .hello__description {
        margin-bottom: 161px;
    }
    .appeals {
        padding: 34px 0 40px;
    }
    .appeals__title {
        margin-bottom: 40px;
    }
    .appeal__head {
        padding: 7px 20px 10.5px;
    }
    .appeal-status__name {
        display: none;
    }
    .appeal-status__stage {
        order: 0;
        margin-right: 10px;
    }
    .appeal-status__dot {
        order: 1;
    }
    .appeal__head-content {
        display: flex;
    }
    .appeal__status {
        order: 1;
        margin-left: auto
    }
    .appeal__date {
        order: 0;
    }
    .appeal__number {
        margin-bottom: 10.5px;
    }
    .appeal__head-content,
    .appeal__body {
        font-size: 12px;
        line-height: 15px;
    }
    .appeal-date__day {
        margin-right: 12px;
        padding-left: 29px;
    }
    .appeal__item {
        border-radius: 20px;
        height: 200px;
    }
    .swiper {
        height: 225px;
    }
    .appeal__status {
        margin-bottom: 0;
    }
    .appeal-date__time {
        padding-left: 29px;
    }
    .appeal-date__day::before {
        left: 0px;
        top: -4px;
    }
    .appeal-date__time::before {
        top: -2px;
        width: 18px;
        height: 18px;
        background-size: contain;
    }
    .appeal__body {
        padding: 12.5px 20px 20px;
    }
    .appeal__category,
    .appeal__location,
    .appeal__author {
        padding-left: 29px;
    }
    .appeal__category,
    .appeal__location {
        margin-bottom: 6px;
    }
    .appeal__author {
        margin-bottom: 16px;
    }
    .appeal__description {
        -webkit-line-clamp: 2;
    }
    .appeal__category::before {
        left: -1px;
        top: -3px;
        width: 20px;
        height: 20px;
    }
    .appeal__location::before {
        left: 3px;
        top: -1px;
        width: 12px;
        height: 14px;
        background-size: contain;
    }
    .appeal__author-avatar {
        left: -1px;
        top: -3px;
        width: 20px;
        height: 20px;
    }
    .swiper-pagination {
        display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: auto;
        bottom: 0;
        height: 15px;
        width: max-content;
        font-size: 12px;
        line-height: 15px;
        color: var(--blue-color);
    }
    .swiper-button-prev {
        left: 15px;
    }
    .swiper-button-next {
        right: 15px;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }
    .swiper-button-prev::before,
    .swiper-button-next::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        top: 2px;
    }
    .swiper-button-prev::before {
        background-image: url(../../assets/img/arrow_left.svg);
        left: -15px;
    }
    .swiper-button-next::before {
        background-image: url(../../assets/img/arrow_right.svg);
        right: -15px;
    }
    .partners__item img {
        height: 30px;
    }
    .partners-slider {
        height: 31px;
        width: calc(100% - 65px);
    }
    .partnerMODT {
        font-size: 10px;
        line-height: 10.5px;
        width: 75px;
        margin-left: 2px;
    }
    .partnerMOFAOD {
        font-size: 10px;
        line-height: 10px;
        width: 94px;
    }
    .arrow__prev::before {
        border-width: 8px 8px 8px 0;
    }
    .arrow__next::before {
        border-width: 8px 0 8px 8px;
    }
    .partners .partners-slider-prev {
        left: 5px;
    }
    .partners .partners-slider-next {
        right: 5px;
    }
    .whowe__logo {
        margin-bottom: 10px;
    }
    .whowe__logoASTIN {
        width: 66px;
        margin-right: 16px;
    }
    .whowe__gromada span {
        font-size: 20px;
        line-height: 25px;
    }
    .whowe__icon_bold {
        display: none;
    }
    .whowe__icon_light {
        display: block;
        height: 19.3px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 3.2px;
    }
    .whowe__description,
    .mission__description {
        font-size: 12px;
        line-height: 15px;
    }
    .mission__description p {
        margin-bottom: 11px;
    }
    .mission__description b {
        font-weight: 800;
    }
}

@media (max-width: 510px) {
    .footer {
        padding: 40px 0 20px;
        height: 371px;
    }
    .footer__copyright,
    .developed-by {
        font-size: 10px;
    }
    .footer__nav {
        width: 100%;
        position: absolute;
    }
    .footer-nav__item:nth-child(1) {
        width: max-content;
        order: 0;
    }
    .footer-nav__item:nth-child(2) {
        width: max-content;
        order: 1;
    }
    .footer-nav__item:nth-child(6) {
        width: max-content;
        order: 2;
    }
    .footer-nav__item:nth-child(3) {
        width: 79px;
        order: 3;
        position: absolute;
        right: 0;
    }
    .footer-nav__item:nth-child(4) {
        width: 79px;
        order: 4;
        position: absolute;
        right: 0;
        top: 26px;
    }
    .footer-nav__item:nth-child(5) {
        width: 79px;
        order: 5;
        position: absolute;
        right: 0;
        top: 52px;
    }
    .footer__support-btn {
        left: 0;
        top: 86px;
    }
    .footer__socials {
        right: 0;
        top: 90px;
    }
    .footer__links1 {
        left: 0;
        top: 146px;
        font-size: 10px;
        line-height: 13px;
    }
    .footer__links2 {
        text-align: start;
        top: 146px;
    }
    .footer-links__item {
        margin-bottom: 10px;
    }
    .footer__logo {
        margin-right: 10px;
        align-self: start;
    }
    .socials__item {
        margin-right: 16px;
    }
    .follow {
        height: 120px;
        padding: 15px 0;
    }
    .follow__form {
        flex-direction: column;
    }
    .follow__email {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .follow__submit {
        width: 100%;
    }
    .contactus {
        padding-bottom: 0;
    }
    .contactus__wrapper {
        flex-direction: column;
    }
    .contactus__form {
        border: none;
        background: transparent;
        padding: 32px 0 40px;
        width: 100%;
    }
}

@media (max-width: 340px) {
    .footer__support-btn {
        width: 135px;
    }
    .socials__item {
        margin-right: 10px;
    }
}