@media (min-width: 1201px) {
    .footer__support-btn {
        grid-column: 3;
        grid-row: 1;
    }
    .footer__nav {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-top: 5px;
    }
    .footer__socials {
        grid-column: 4;
        grid-row: 1;
        display: flex;
        justify-self: end;
    }
    .footer__links1 {
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .footer__copyright {
        grid-column: 1;
        grid-row: 3;
    }
    .footer__links2 {
        grid-column: 2 / 4;
        grid-row: 3;
        margin-top: 3px;
        display: flex;
    }
    .developed-by {
        grid-column: 4;
        grid-row: 3;
        justify-self: end;
    }
    .footer__wrapper {
        display: grid;
        grid-template-columns: 329px 321px auto auto;
        grid-template-rows: 52px 63px auto;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 24px;
        line-height: 30px;
    }
    h3,
    .switchers__item {
        font-size: 20px;
        line-height: 30px;
    }
    .wrapper {
        max-width: 770px;
    }
    .headergov__logo {
        width: 79px;
        margin-top: 0px;
    }
    .navigation__item {
        margin-right: 30px;
    }
    .footer {
        padding: 21px 0 12px;
        height: 247px;
    }
    .footer__nav {
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .footer__links1 {
        font-size: 12px;
        line-height: 15px;
        position: absolute;
        left: 40%;
        top: 0;
    }
    .footer__support-btn {
        position: absolute;
        left: 40%;
        top: 103px;
    }
    .footer__socials {
        position: absolute;
        right: 0;
        top: 0;
    }
    .footer__links2 {
        font-size: 10px;
        line-height: 13px;
        text-align: end;
        position: absolute;
        right: 0;
        top: 59px;
    }
    .footer__nav,
    .footer__links1,
    .footer__links2 {
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .footer__links2 .footer-links__item:nth-child(1) {
        order: 2;
    }
    .footer__links2 .footer-links__item:nth-child(2) {
        order: 3;
    }
    .footer__links2 .footer-links__item:nth-child(3) {
        order: 0;
    }
    .footer__links2 .footer-links__item:nth-child(4) {
        order: 1;
    }
    .developed-by {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer__logo {
        width: 66px;
    }
    .footer__socials,
    .footer__copyright {
        display: flex;
    }
    .footer__copyright {
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .footer-links__item,
    .footer-nav__item {
        margin-right: 0 !important;
        margin-bottom: 11px;
    }
    .hello {
        padding: 75px 0 100px;
    }
    .hello__title {
        margin-bottom: 0;
        max-width: 59%;
    }
    .hello__description {
        max-width: 46%;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 60px;
    }
    .hello__call {
        padding: 20px 41px;
    }
    .call__description {
        display: none;
    }
    .call__description2 {
        display: block;
    }
    .call__buttons {
        margin-left: 45px;
    }
    .call__button {
        width: 60px;
        height: 60px;
        margin-right: 30px;
    }
    .call__button_tg {
        padding: 14px;
    }
    .call__button_vbr {
        padding: 10px;
    }
    .call__button_msng {
        padding: 14px;
    }
    .hello__phone {
        height: 500px;
        width: 247.11px;
        right: 65px;
        bottom: -40px;
    }
    .phone__image {
        height: 500px;
    }
    .phone__content {
        left: 8px;
        right: 8px;
        top: 8px;
        bottom: 8px;
    }
    .phone__content img {
        width: 91%;
    }
    .howtouse {
        padding-top: 20px;
    }
    .howtouse__title {
        margin-bottom: 50px;
    }
    .switchers__item {
        margin-right: 87px;
    }
    .howtouse__switchers {
        margin-bottom: 64px;
    }
    .howtouse-content-wrapper {
        margin: 0 -5px;
    }
    .howtouse-content__image {
        width: 180px;
        height: 180px;
        padding: 30px;
        margin-bottom: 30px;
    }
    .howtouse-content__title {
        margin-bottom: 25px;
    }
    .howtouse-content__item {
        width: 260px;
    }
    .howtouse-content__item:nth-child(1) .howtouse-content__description {
        width: 100%;
    }
    .howtouse-content__item:nth-child(2) .howtouse-content__description {
        width: 100%;
    }
    .howtouse-content__item:nth-child(3) .howtouse-content__description {
        width: 100%;
    }
    .howtouse__switcher-contents {
        height: 398px;
    }
    .howtouse-content__item:nth-child(1) .howtouse-content__image::after,
    .howtouse-content__item:nth-child(2) .howtouse-content__image::after {
        width: 45px;
        right: -64px;
    }
}

@media (max-width: 810px) {
    .wrapper {
        max-width: 100%;
        padding: 0 20px
    }
    .footer__wrapper {
        margin: 0 20px;
    }
    .howtouse-content__item {
        width: 245px;
    }
    .howtouse-content-wrapper {
        margin: 0 -15px;
    }
}

@media (max-width: 767px) {
    .howtouse-content__item {
        width: 260px;
    }
    .howtouse-content {
        width: max-content;
        margin: 0 45px;
    }
    .howtouse-content-wrapper {
        width: calc(100% + 40px);
        margin: 0 -20px;
        overflow-x: scroll;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 20px;
        line-height: 25px;
    }
    h2 {
        font-size: 18px;
        line-height: 23px;
    }
    h3,
    .switchers__item {
        font-size: 16px;
        line-height: 24px;
    }
    h4,
    .howtouse-content__description {
        font-size: 14px;
        line-height: 17px;
    }
    .hello {
        padding: 14px 0 85px;
    }
    .hello__title {
        margin-bottom: 10px;
        max-width: 335px;
    }
    .hello__description {
        max-width: 335px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 50px;
    }
    .hello__call {
        padding: 14px 51px 14px 0;
        margin-right: -20px;
        border-radius: 0;
        margin-left: -20px;
        width: calc(100% + 40px);
    }
    .call__description2 {
        display: none;
    }
    .call__buttons {
        flex-direction: column;
        margin-left: 80px;
    }
    .call__button {
        width: 50px;
        height: 50px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .call__button:last-child {
        margin-bottom: 0;
    }
    .call__button_tg {
        position: relative;
    }
    .call__button_tg::before {
        content: "@astininfobot";
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        position: absolute;
        top: -42px;
        left: -31px;
    }
    .call__button_tg {
        padding: 10px 10px 8px 8px;
    }
    .call__button_vbr {
        padding: 5px;
    }
    .call__button_msng {
        padding: 9px;
    }
    .hello__phone {
        height: 400px;
        width: 197.69px;
        right: 20px;
        bottom: -45px;
        margin-right: 80px;
    }
    .phone__image {
        height: 400px;
    }
    .phone__content {
        left: 6px;
        right: 9px;
        top: 7px;
        bottom: 7px;
    }
    .switchers__item {
        margin-right: 0;
    }
    .howtouse {
        padding-top: 18px;
        padding-bottom: 0;
    }
    .howtouse__switchers {
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .howtouse__title {
        margin-bottom: 60px;
    }
    #switcher1:checked~.block-with_switchers .switchers__item_1,
    #switcher2:checked~.block-with_switchers .switchers__item_2 {
        color: var(--blue-color);
    }
    .howtouse-content__title {
        margin-bottom: 32px;
    }
    .howtouse__switcher-contents {
        height: 378px;
    }
}

@media (max-width: 650px) {
    .headergov {
        height: 40px;
    }
    .headergov__nav {
        display: none;
    }
    .footer__links1 {
        left: 33%;
    }
    .footer__support-btn {
        left: 33%;
    }
    .call__buttons {
        margin-left: 0;
        width: calc(100% - 156px);
        align-items: center;
    }
    .hello__phone {
        margin-right: 0;
    }
}

@media (max-width: 570px) {
    .hello__description {
        margin-bottom: 161px;
    }
}

@media (max-width: 510px) {
    .footer {
        padding: 40px 0 20px;
        height: 371px;
    }
    .footer__copyright,
    .developed-by {
        font-size: 10px;
    }
    .footer__nav {
        width: 100%;
        position: absolute;
    }
    .footer-nav__item:nth-child(1) {
        width: max-content;
        order: 0;
    }
    .footer-nav__item:nth-child(2) {
        width: max-content;
        order: 1;
    }
    .footer-nav__item:nth-child(6) {
        width: max-content;
        order: 2;
    }
    .footer-nav__item:nth-child(3) {
        width: 79px;
        order: 3;
        position: absolute;
        right: 0;
    }
    .footer-nav__item:nth-child(4) {
        width: 79px;
        order: 4;
        position: absolute;
        right: 0;
        top: 26px;
    }
    .footer-nav__item:nth-child(5) {
        width: 79px;
        order: 5;
        position: absolute;
        right: 0;
        top: 52px;
    }
    .footer__support-btn {
        left: 0;
        top: 86px;
    }
    .footer__socials {
        right: 0;
        top: 90px;
    }
    .footer__links1 {
        left: 0;
        top: 146px;
        font-size: 10px;
        line-height: 13px;
    }
    .footer__links2 {
        text-align: start;
        top: 146px;
    }
    .footer-links__item {
        margin-bottom: 10px;
    }
    .footer__logo {
        margin-right: 10px;
        align-self: start;
    }
    .socials__item {
        margin-right: 16px;
    }
}

@media (max-width: 340px) {
    .footer__support-btn {
        width: 135px;
    }
    .socials__item {
        margin-right: 10px;
    }
}