:root {
    --black-color: #040D2D;
    --white-color: #FFF;
    --primary-color: #53D2FA;
    --primary2-color: #4968EB;
    --blue-color: #5678FF;
    --green-color: #2DF90B;
    --yellow-color: #FBE51F;
    --red-color: #F80E38;
    --gray-color: #9B9EAB;
}

.preloader.disapper {
    opacity: 0;
    visibility: hidden;
}

* {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

#map * {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}

input[type=text],
input[type=submit],
input[type=email],
input[type=tel],
textarea {
    -webkit-appearance: none;
}

input {
    border-radius: 0;
}

input:-internal-autofill-selected,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--blue-color) !important;
}

input:not(:focus):not(:-moz-placeholder-shown):invalid,
textarea:not(:focus):not(:-moz-placeholder-shown):invalid {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--red-color) !important;
}

input:not(:focus):not(:-ms-input-placeholder):invalid,
textarea:not(:focus):not(:-ms-input-placeholder):invalid {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--red-color) !important;
}

input:not(:focus):not(:-moz-placeholder-shown):invalid,
textarea:not(:focus):not(:-moz-placeholder-shown):invalid {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--red-color) !important;
}

input:not(:focus):not(:-ms-input-placeholder):invalid,
textarea:not(:focus):not(:-ms-input-placeholder):invalid {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--red-color) !important;
}

input:not(:focus):not(:placeholder-shown):invalid,
textarea:not(:focus):not(:placeholder-shown):invalid {
    background-color: var(--white-color) !important;
    background-image: none !important;
    color: inherit !important;
    border: 1px solid var(--red-color) !important;
}

input:not(:focus):not(:-moz-placeholder-shown):valid,
textarea:not(:focus):not(:-moz-placeholder-shown):valid {
    border: 1px solid var(--blue-color) !important;
}

input:not(:focus):not(:-ms-input-placeholder):valid,
textarea:not(:focus):not(:-ms-input-placeholder):valid {
    border: 1px solid var(--blue-color) !important;
}

input:not(:focus):not(:-moz-placeholder-shown):valid,
textarea:not(:focus):not(:-moz-placeholder-shown):valid {
    border: 1px solid var(--blue-color) !important;
}

input:not(:focus):not(:-ms-input-placeholder):valid,
textarea:not(:focus):not(:-ms-input-placeholder):valid {
    border: 1px solid var(--blue-color) !important;
}

input:not(:focus):not(:placeholder-shown):valid,
textarea:not(:focus):not(:placeholder-shown):valid {
    border: 1px solid var(--blue-color) !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px var(--white-color) !important;
    box-shadow: inset 0 0 0 50px var(--white-color)!important;
    border: 1px solid var(--blue-color) !important;
}

h1 {
    font-size: 50px;
    line-height: 63px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

h3,
.switchers__item {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
}

h5,
.tabs__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

section {
    overflow-x: hidden;
    overflow-y: hidden;
}

.text_bold {
    font-weight: 600;
}

.text_light {
    color: var(--white-color);
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

a {
    color: var(--black-color);
}

.wrapper {
    max-width: 1170px;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.headergov {
    height: 65px;
}

.headergov__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.headergov__logo {
    width: 97px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: -4px;
}

.headergov__nav {
    font-size: 20px;
    line-height: 25px;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item:nth-child(1) {
    width: 86px;
}

.navigation__item:nth-child(2) {
    width: 88px;
}

.navigation__item:nth-child(3) {
    width: 103.33px;
}

.navigation__item:nth-child(4) {
    width: 92px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__item.selected {
    font-weight: 800;
}

.navigation__item_dd.selected {
    font-weight: 500;
}

.navigation__item_dd.selected .navigation__dd-title,
.navigation__item_dd.selected .selected {
    font-weight: 800;
}

.navigation__item_dd {
    position: relative;
}

.navigation__dd-title {
    display: block;
    width: 100%;
}

.navigation__dd-title::after {
    content: "";
    background-image: url(../../assets/img/arrow_down.svg);
    width: 13.33px;
    height: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 12px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    pointer-events: none;
}

.navigation__dd-title:hover {
    cursor: pointer;
    color: var(--blue-color);
}

.dd_opened .navigation__dd-title::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
    padding: 30px 30px 30px 31px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    -webkit-box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.1);
    box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.1);
    border-radius: 10px 0px 10px 10px;
}

.dd_opened .dropdown {
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.dropdown__item {
    white-space: pre;
    margin-bottom: 20px;
    display: block;
}

.dropdown__item:last-child {
    margin-bottom: 0;
}

a.navigation__item:hover,
.dropdown__item:hover {
    color: var(--blue-color);
}

.footer {
    background-color: var(--blue-color);
    padding: 50px 0 20px;
}

.footer * {
    color: var(--white-color);
}

.footer-nav__item:hover,
.footer-links__item:hover,
.socials__item:hover,
.developed-by:hover {
    opacity: 0.5;
}

.footer-nav__item,
.footer-links__item,
.footer__copy-text,
.developed-by {
    white-space: pre;
}

.footer__support-btn {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    display: block;
    padding: 6.5px 0 5.5px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--white-color);
    width: 145px;
    height: 30px;
    white-space: pre;
}

.footer__support-btn:hover {
    color: var(--blue-color);
    background-color: var(--white-color);
    opacity: 1;
}

.footer__copyright,
.developed-by {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-links {
    font-size: 12px;
    line-height: 15px;
}

.footer-nav__item,
.footer__links1 .footer-links__item {
    margin-right: 30px;
}

.footer-nav__item:last-child,
.footer__links1 .footer-links__item:last-child {
    margin-right: 0;
}

.footer__links2 .footer-links__item {
    margin-right: 31px;
}

.footer__links2 .footer-links__item:last-child {
    margin-right: 0;
}

.socials__item {
    margin-right: 20px;
}

.socials__item:last-child {
    margin-right: 0;
}

.footer__logo {
    margin-right: 28px;
}

.hello {
    padding: 76px 0 107px;
}

.hello__title {
    margin-bottom: 20px;
    max-width: 602px;
}

.hello__description {
    max-width: 566px;
    margin-bottom: 64px;
}

.hello__call {
    background: -o-linear-gradient(178.03deg, var(--primary2-color) 2.51%, var(--primary-color) 98.61%);
    background: linear-gradient(271.97deg, var(--primary2-color) 2.51%, var(--primary-color) 98.61%);
    border-radius: 20px;
    padding: 47px 145px 32px;
    width: 100%;
}

.call__description {
    text-align: center;
    max-width: 476px;
    margin-bottom: 61px;
}

.call__description2 {
    text-align: center;
    max-width: 332px;
    margin-bottom: 70px;
    display: none;
}

.call__buttons {
    margin-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.call__button {
    margin-right: 40px;
    width: 80px;
    height: 80px;
    background-image: url(../../assets/img/call_btn_bg.svg);
    background-size: contain;
    background-repeat: no-repeat
}

.call__button:hover {
    opacity: 0.7;
}

.call__button img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.call__button:last-child {
    margin-right: 0;
}

.call__button_tg {
    padding: 21px 22px 19px 18px;
}

.call__button_vbr {
    padding: 15px;
}

.call__button_msng {
    padding: 20px;
}

.hello__phone {
    height: 600px;
    width: 296.53px;
    position: absolute;
    z-index: 2;
    right: 66px;
    bottom: -47px;
}

.phone__image {
    width: auto;
    height: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.phone__content {
    width: auto;
    height: auto;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 12px;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
}

.phone__content img {
    width: 93%;
    margin-top: 68px;
    margin-left: 11px;
}

.invisible-input {
    display: none;
}

.switcher-contents {
    position: relative;
}

.switcher-contents__item {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    touch-action: none;
}

.switchers__item:hover {
    cursor: pointer;
    color: var(--blue-color);
}

#switcher1:checked~.block-with_switchers .switchers__item_1,
#switcher2:checked~.block-with_switchers .switchers__item_2 {
    font-weight: 900;
    cursor: default;
    color: var(--black-color);
}

#switcher1:checked~.block-with_switchers .switcher-contents__item_1,
#switcher2:checked~.block-with_switchers .switcher-contents__item_2 {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    touch-action: auto;
}

.howtouse {
    padding-top: 30px;
    padding-bottom: 100px;
}

.howtouse__title {
    margin-bottom: 80px;
}

.howtouse__switcher-contents {
    height: 528px;
}

.howtouse__switchers {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.switchers__item {
    margin-right: 50px;
}

.switchers__item:last-child {
    margin-right: 0;
}

.howtouse-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.howtouse-content__item {
    width: 370px;
    text-align: center;
}

.howtouse-content__image {
    background-image: url(../../assets/img/circle_bg.svg);
    background-size: contain;
    width: 240px;
    height: 240px;
    padding: 45px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

.howtouse-content__item:nth-child(1) .howtouse-content__image::after,
.howtouse-content__item:nth-child(2) .howtouse-content__image::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 125px;
    overflow: hidden;
    background-image: url(../../assets/img/dotted-line.svg);
    background-size: cover;
    right: -142px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.howtouse-content__image img {
    width: 100%;
}

.howtouse-content__title {
    margin-bottom: 23px;
}

.howtouse-content__description {
    margin: 0 auto;
}

.howtouse-content__item:nth-child(1) .howtouse-content__description {
    width: 259px;
}

.howtouse-content__item:nth-child(2) .howtouse-content__description {
    width: 285px;
}

.howtouse-content__item:nth-child(3) .howtouse-content__description {
    width: 257px;
}

.button {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    border: 1px solid var(--blue-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: block;
}

.button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 500;
}

.howtouse__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.howtouse__button_1 {
    width: 200px;
}

.howtouse__button_2 {
    width: 300px;
}

.tab-contents {
    position: relative;
}

.tab-contents__item {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
}

.tabs__item:hover {
    cursor: pointer;
    color: var(--blue-color);
}

#tab1:checked~.block-with_tabs .tabs__item_1,
#tab2:checked~.block-with_tabs .tabs__item_2,
#tab3:checked~.block-with_tabs .tabs__item_3,
#tab4:checked~.block-with_tabs .tabs__item_4,
#tab5:checked~.block-with_tabs .tabs__item_5,
#tab6:checked~.block-with_tabs .tabs__item_6,
#tab7:checked~.block-with_tabs .tabs__item_7,
#tab8:checked~.block-with_tabs .tabs__item_8 {
    font-weight: 900;
    cursor: default;
    color: var(--black-color);
}

#tab1:checked~.block-with_tabs .tab-contents__item_1,
#tab2:checked~.block-with_tabs .tab-contents__item_2,
#tab3:checked~.block-with_tabs .tab-contents__item_3,
#tab4:checked~.block-with_tabs .tab-contents__item_4,
#tab5:checked~.block-with_tabs .tab-contents__item_5,
#tab6:checked~.block-with_tabs .tab-contents__item_6,
#tab7:checked~.block-with_tabs .tab-contents__item_7,
#tab8:checked~.block-with_tabs .tab-contents__item_8 {
    opacity: 1;
    z-index: 2;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.tab-contents__title {
    display: none;
}

.benefits {
    padding-bottom: 100px;
    position: relative;
}

.benefits__title {
    margin-bottom: 80px;
}

.benefits__switchers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}

.benefits__switcher-contents {
    height: 452px;
}

.benefits__tabs {
    margin-top: 68px;
}

.benefits-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tabs__title {
    display: block;
    margin-bottom: 36px
}

.benefits__tab-contents {
    width: 468px;
}

.tab-contents__number {
    margin-bottom: 60px;
    font-size: 96px;
    line-height: 120.5px;
    font-weight: 900;
    display: block;
}

.tab-contents__description {
    font-weight: 600;
}

.benefits__bg {
    height: 500px;
    width: calc(50% - 15px);
    right: 0;
    top: 130px;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 40px 0 0 40px;
}

.benefits .switchers__item:last-child {
    margin-right: 0;
}

.benefits__mobile-tabs {
    display: none;
}

.appeals {
    padding: 30px 0 60px;
}

.appeals__title {
    margin-left: 30px;
    position: relative;
    margin-bottom: 40px;
}

.appeals__title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: 15px;
    left: -30px;
    opacity: 1;
    -webkit-animation: blinking 1s infinite ease-out;
    animation: blinking 1s infinite ease-out;
}

@-webkit-keyframes blinking {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

.appeals__title span {
    color: var(--red-color);
}

.swiper {
    width: 100%;
    height: 419px;
}

.swiper-slide {
    margin-right: 30px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0 !important;
    height: 15px;
}

.swiper-pagination-bullet {
    margin-left: 0 !important;
    margin-right: 24px !important;
    height: 10px;
    width: 10px;
    background-color: var(--blue-color);
    opacity: 0.1;
}

.swiper-pagination-bullet:hover {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    height: 15px !important;
    width: 15px !important;
}

.swiper-pagination-bullet:first-child {
    margin-left: auto !important;
}

.swiper-pagination-bullet:last-child {
    margin-right: auto !important;
}

.appeal__item {
    width: 270px;
    height: 389px;
    border: 1px solid #0000;
    border-radius: 16px;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    -webkit-box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.1);
    box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.1);
}

.appeal__head {
    border-bottom: 1px solid var(--black-color);
    padding: 20px 18px 21px 22px;
}

.appeal__number {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

.appeal__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 17px;
}

.appeal-status__name {
    margin-right: 10px;
}

.appeal-status__dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.appeal__status_new .appeal-status__dot,
.stat__status_new .stat-status__dot {
    background-color: var(--green-color);
}

.appeal__status_inprogress .appeal-status__dot,
.stat__status_inprogress .stat-status__dot {
    background-color: var(--yellow-color);
}

.appeal__status_done .appeal-status__dot,
.stat__status_done .stat-status__dot {
    background-color: var(--blue-color);
}

.appeal-status__stage {
    margin-left: auto;
}

.appeal__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.appeal-date__day {
    padding-left: 34px;
    position: relative;
}

.appeal-date__day::before {
    content: "";
    background-image: url(../../assets/img/calendar.svg);
    position: absolute;
    left: 2px;
    top: 0;
    width: 18px;
    height: 20px;
    background-repeat: no-repeat;
}

.appeal-date__time {
    padding-left: 32px;
    margin-left: auto;
    position: relative;
}

.appeal-date__time::before {
    content: "";
    background-image: url(../../assets/img/clock.svg);
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.appeal__body {
    padding: 32px 20px 22px;
}

.appeal__body>* {
    display: block;
}

.appeal__category,
.appeal__location,
.appeal__author {
    padding-left: 34px;
    position: relative;
}

.appeal__category,
.appeal__location {
    margin-bottom: 14px;
}

.appeal__category::before {
    content: "";
    background-image: url(../../assets/img/bulb.svg);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
}

.appeal__location::before {
    content: "";
    background-image: url(../../assets/img/geo.svg);
    position: absolute;
    left: 4px;
    top: 0;
    width: 15px;
    height: 20px;
    background-repeat: no-repeat;
}

.appeal__author {
    margin-bottom: 32px;
}

.appeal__author-avatar {
    position: absolute;
    left: 0;
    top: -2px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 24px;
    height: 24px;
}

.appeal__author-name {
    width: 100%;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.appeal__description {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#map_inner>svg {
    left: 0 !important;
    top: 0 !important;
}

.tt_sm {
    -webkit-box-shadow: 0px 0px 5px var(--blue-color) !important;
    box-shadow: 0px 0px 5px var(--blue-color) !important;
}

.mapStat {
    padding-bottom: 85px;
}

.mapStat__map {
    margin-right: auto;
}

#map_zoom,
#map_outer,
#map_access,
#map_legend {
    display: none !important;
}

#map {
    margin-top: 11px;
    width: 563px;
    margin-left: 157px;
}

.mapStat__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mapStat__stat {
    width: 270px;
    padding: 4px 20px 30px;
}

.mapStat__stat * {
    white-space: nowrap;
}

.stat__title {
    margin-bottom: 13px;
}

.stat__date {
    display: block;
    margin-bottom: 30px;
}

.stat__status {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stat-status__dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.stat-status__name {
    margin-right: auto;
}

.stat__count {
    margin-bottom: 20px;
    color: var(--blue-color);
}

.stat__month {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.stat__month:last-child {
    margin-bottom: 0px;
}

.stat__increase {
    margin-left: 10px;
    display: block;
    color: var(--green-color);
}

.stat__item {
    margin-bottom: 80px;
}

.stat__item:last-child {
    margin-bottom: 0;
}

.partners {
    padding: 20px 0 100px;
}

.partners__item {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners-slider {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    height: 83px;
    width: calc(100% - 90px);
    margin-left: auto;
    margin-right: auto;
}

.partners-slider__wrapper {
    position: relative;
}

.partners .partners-slider-prev,
.partners .partners-slider-next {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.arrow__prev::before,
.arrow__next::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow__prev::before {
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--blue-color) transparent transparent;
}

.arrow__next::before {
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--blue-color);
}

.swiper-button-disabled.arrow__prev::before,
.swiper-button-disabled.arrow__next::before {
    opacity: 0.2;
}

.swiper-button-disabled {
    cursor: default !important;
}

.partners .partners-slider-prev {
    left: 0;
}

.partners .partners-slider-next {
    right: 0;
}

.partnerMODT {
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    width: 148px;
    display: block;
    margin-left: 5px;
}

.partnerMOFAOD {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    line-height: 26.7px;
    color: #F5222D;
    width: 150px;
}

.partners__title {
    margin-bottom: 100px;
}

.follow {
    height: 150px;
    background-color: #5678FF1A;
}

.follow__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.follow__title {
    margin-right: auto;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    margin-left: -3px;
}

.follow__email {
    margin-right: 49px;
    width: 450px;
}

.input_bordered {
    padding: 10px 20px;
    background-color: var(--white-color);
    border-radius: 10px;
}

.input_bordered::-webkit-input-placeholder {
    color: var(--gray-color);
}

.input_bordered::-moz-placeholder {
    color: var(--gray-color);
}

.input_bordered:-ms-input-placeholder {
    color: var(--gray-color);
}

.input_bordered::-ms-input-placeholder {
    color: var(--gray-color);
}

.input_bordered::placeholder {
    color: var(--gray-color);
}

.input_gradient {
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
}

.follow__submit {
    color: var(--black-color);
    width: 150px;
    text-align: center;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border-radius: 10px;
    border: 1px solid #0000;
    background: -o-linear-gradient(#eef1ff, #eef1ff) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(#eef1ff), to(#eef1ff)) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(#eef1ff, #eef1ff) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
}

.follow__submit:hover {
    color: var(--white-color);
    border: 1px solid var(--blue-color);
    background: var(--blue-color);
}

.follow__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts {
    padding: 36px 0 60px;
}

.contacts__title {
    margin-bottom: 69px;
}

.contacts__name {
    font-weight: 800;
}

.contacts__value {
    font-weight: 600;
}

a.contacts__value:hover {
    color: var(--blue-color);
}

.contacts_contact {
    margin-bottom: 10px;
    display: block;
}

.contacts_contact:last-child {
    margin-bottom: 0;
}

.contacts_contact br {
    display: none;
}

.contacts__item {
    margin-bottom: 40px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.contacts__map {
    width: 570px;
    height: 570px;
    border-radius: 20px !important;
}

.contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contacts__info {
    margin-right: auto;
}

.gm-style-cc {
    display: none;
}

.contactus {
    padding-bottom: 60px;
}

.contactus__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contactus__title {
    max-width: 474px;
    margin-right: auto;
}

.contactus__form {
    padding: 124px 52px 124px 48px;
    width: 570px;
    border-radius: 20px;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
}

.contactus__label,
.contactus__input {
    font-size: 20px;
    line-height: 25px;
}

.contactus__label {
    margin-bottom: 5px;
}

.contactus__input {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid #5678FF66;
    padding-bottom: 3px;
    color: var(--blue-color);
}

.contactus__input:hover {
    border-bottom: 1px solid #5678ffa3;
}

.contactus__input:focus {
    border-bottom: 1px solid var(--blue-color);
}

.contactus__input::-webkit-input-placeholder {
    color: #5678FF66;
}

.contactus__input::-moz-placeholder {
    color: #5678FF66;
}

.contactus__input:-ms-input-placeholder {
    color: #5678FF66;
}

.contactus__input::-ms-input-placeholder {
    color: #5678FF66;
}

.contactus__input::placeholder {
    color: #5678FF66;
}

.label {
    position: relative;
}

.label_required::after {
    position: absolute;
    content: " * ";
    color: var(--red-color);
}

.label a {
    color: var(--red-color);
}

.label a:hover {
    color: var(--blue-color);
}

.contactus__form>* {
    display: block;
}

.contactus__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 52px;
}

.contactus__policy input {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.contactus__policy p {
    width: calc(100% - 30px);
    margin-left: 12px;
}

.contactus__submit {
    background-color: transparent;
    color: var(--black-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    width: 200px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid var(--blue-color);
    border-radius: 7px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.contactus__submit:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 600;
}

.policy {
    padding: 38px 0 60px;
}

.policy__title_h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
}

.policy__description {
    font-weight: 600;
}

.policy__description_light {
    color: #7a7a7a;
}

.policy__description a {
    color: var(--blue-color);
}

.policy__description a:hover {
    opacity: 0.6;
}

.policy__title_h3 {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 32px;
}

.policy__title_h4 {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 24px;
}

.policy__description_main {
    margin-bottom: 43px;
}

.policy__ol>.policy__li {
    list-style: decimal;
}

.policy__ul>.policy__li {
    list-style: disc;
}

.policy__li {
    margin-left: 25px;
    font-weight: 600;
}

.whowe {
    padding-bottom: 11px;
}

.whowe__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.whowe__content {
    width: 540px;
    margin-right: auto;
    margin-bottom: 23px;
}

.whowe__logo {
    margin-bottom: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.whowe__logoASTIN {
    width: 155px;
    margin-right: 30px;
}

.whowe__gromada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.whowe__icon_bold {
    display: block;
    margin-top: 14.5px;
    margin-left: 1px;
    height: 35px;
}

.whowe__icon_light {
    display: none;
}

.whowe__gromada span {
    font-size: 50px;
    line-height: 62.75px;
    font-weight: 500;
    color: var(--blue-color);
}

.whowe__description {
    font-weight: 600;
}

.whowe__preview {
    position: relative;
}

.whowe__image_d {
    width: 712px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: -82px;
    margin-top: -30px;
}

.whowe__image_t,
.whowe__image_m {
    display: none;
}

.whowe__image_d::after {
    content: "";
    display: block;
    width: 724px;
    height: 80px;
    background-image: url(../../assets/img/shadow_bottom.svg);
    position: absolute;
    bottom: 45px;
    left: -59px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.mission {
    padding-bottom: 83px;
}

.mission__image {
    width: 300px;
    -o-object-fit: contain;
    object-fit: contain;
}

.mission__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mission__item_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}

.mission__item_1 .mission__description {
    width: 500px;
}

.mission__item_2 .mission__description {
    width: 570px;
}

.mission__description {
    font-weight: 600;
}

.mission__description b {
    font-weight: 900;
}

.mission__description p {
    margin-bottom: 25px;
}

.mission__description p:last-child {
    margin-bottom: 0;
}

.mission__item_1 .mission__image {
    margin-right: 100px;
}

.mission__item_2 .mission__image {
    margin-left: 75px;
}

.roadmap {
    padding-bottom: 80px;
}

.roadmap__title {
    margin-bottom: 80px;
}

.roadmap__items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.roadmap__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 102px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 102px;
    width: 1010px;
}

.roadmap__items>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.roadmap__items>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.roadmap__items>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.roadmap__items>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.roadmap__items>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.roadmap__items>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.roadmap__item {
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    padding: 50px 36px 0 37px;
}

.roadmap__item_1,
.roadmap__item_2,
.roadmap__item_3 {
    margin-left: -80px;
}

.roadmap__item_4,
.roadmap__item_5,
.roadmap__item_6 {
    margin-left: 80px;
    margin-right: -80px;
}

.roadmap__item_1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
}

.roadmap__item_2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
}

.roadmap__item_3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
}

.roadmap__item_4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
}

.roadmap__item_5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
}

.roadmap__item_6 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 95px;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--blue-color), var(--blue-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--blue-color)), to(var(--blue-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--blue-color), var(--blue-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    color: var(--white-color);
}

.roadmap-items__title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    margin-bottom: 40px;
}

.roadmap-items__description {
    font-weight: 600;
}

.roadmap__item_1::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_h.svg);
    height: 4px;
    width: 38px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -69px;
}

.roadmap__item_2::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_h.svg);
    height: 4px;
    width: 38px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -69px;
}

.roadmap__item_3::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_h.svg);
    height: 4px;
    width: 38px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -62px;
}

.roadmap__item_3::after {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_v.svg);
    height: 204px;
    width: 4px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    right: -62px;
}

.roadmap__item_4::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_h.svg);
    height: 4px;
    width: 38px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -69px;
}

.roadmap__item_5::before {
    position: absolute;
    content: "";
    background-image: url(../../assets/img/road_dots_h.svg);
    height: 4px;
    width: 38px;
    background-size: contain;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -69px;
}

.donors {
    padding-bottom: 102px;
}

.donors__title {
    margin-bottom: 70px;
    margin-left: 6px;
}

.donors__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.donors__item:last-child {
    margin-bottom: 0;
}

.donors__image {
    margin-right: auto;
}

.donors__description {
    width: 670px;
    font-weight: 600;
}

.donors__description p {
    margin-bottom: 24px;
}

.donors__description p:last-child {
    margin-bottom: 0;
}

.donors__item_1 .donors__image {
    margin-top: 6px;
    margin-left: 3px;
    width: 316.92px;
    -o-object-fit: contain;
    object-fit: contain;
}

.donors__item_2 .donors__image {
    margin-top: 10px;
    width: 268.37px;
    -o-object-fit: contain;
    object-fit: contain;
}

.peopleappeals {
    padding: 39px 0 80px;
}

.peopleappeals__title {
    margin-bottom: 60px;
}

.peopleappeals__switchers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
}

.peopleappeals__switcher-contents {
    height: 432px;
}

.peopleappeals-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.peopleappeals-content__image {
    width: 432px;
    margin-right: auto;
    margin-left: 37px;
}

.peopleappeals-content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 550px;
}

.peopleappeals-content__title {
    width: 500px;
    margin-bottom: 60px;
    text-align: center;
}

.peopleappeals-content__description {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.peopleappeals-content__description p {
    width: 490px;
}

.peopleappeals-content__description_3 {
    margin-bottom: 60px;
}

.peopleappeals-content__listitem {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: auto;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    text-align: center;
    padding-top: 6px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    color: var(--blue-color);
}

.peopleappeals__button_1 {
    width: 200px;
}

.peopleappeals__button_2 {
    width: 300px;
}

.functional {
    padding-bottom: 60px;
}

.functional__title {
    margin-bottom: 60px;
}

.functional__switcher-contents {
    height: 592px;
}

.functional-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.functional-content__item {
    width: 270px;
    height: 281px;
    -webkit-box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.15);
    box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.15);
    border-radius: 16px;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    padding: 39px 0 0;
    text-align: center;
}

.functional-content__image {
    width: 120px;
    margin-bottom: 30px;
}

.funct-img-margin-r {
    margin-right: 20px;
}

.functional-content__description {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.apply {
    padding: 39px 0 145px;
}

.apply__title {
    text-align: center;
    margin-bottom: 39px;
}

.apply__wrapper {
    max-width: 452px !important;
}

.apply__choose {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.apply__description {
    margin-right: 22px;
}

.apply__login {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    color: var(--blue-color);
}

.apply__login:hover {
    opacity: 0.7;
}

.apply-or {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--gray-color);
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 30px;
}

.apply-or__devider {
    display: block;
    width: 50%;
    height: 1px;
    background-color: var(--gray-color);
}

.apply-or__devider_left {
    margin-right: 4px;
}

.apply-or__devider_right {
    margin-left: 4px;
}

.apply-form>* {
    width: 100%;
}

.apply-form label {
    margin-bottom: 10px;
    display: block;
}

.apply-form input {
    height: 40px;
    margin-bottom: 30px;
}

.apply-form select {
    height: 40px;
    margin-bottom: 30px;
}

.apply-form input,
.apply-form textarea,
.apply-form select {
    padding: 10px 19px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
}

.apply-form select {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--gray-color);
    padding: 8px 15px;
}

.apply-form select option {
    color: var(--black-color);
}

.apply-form textarea {
    margin-top: 4px;
    height: 244px;
    resize: none;
}

.apply-form input::-webkit-input-placeholder,
.apply-form textarea::-webkit-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-moz-placeholder,
.apply-form textarea::-moz-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input:-ms-input-placeholder,
.apply-form textarea:-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-ms-input-placeholder,
.apply-form textarea::-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-webkit-input-placeholder,
.apply-form textarea::-webkit-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-moz-placeholder,
.apply-form textarea::-moz-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input:-ms-input-placeholder,
.apply-form textarea:-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-ms-input-placeholder,
.apply-form textarea::-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-webkit-input-placeholder,
.apply-form textarea::-webkit-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-moz-placeholder,
.apply-form textarea::-moz-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input:-ms-input-placeholder,
.apply-form textarea:-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::-ms-input-placeholder,
.apply-form textarea::-ms-input-placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form input::placeholder,
.apply-form textarea::placeholder {
    color: var(--gray-color);
    font-weight: 500;
}

.apply-form__address {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.apply-form__address input {
    width: calc(50% - 15px)
}

#messCharCount {
    margin-left: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 12px;
    margin-top: -3px;
    line-height: 15px;
    margin-right: -1px;
    margin-bottom: 19px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input {
    margin-bottom: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.add-files {
    color: var(--gray-color);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    min-height: 30px;
    margin-bottom: 30px !important;
}

.add-files img {
    margin-left: 4.5px;
    margin-right: 13px;
    width: 17px;
}

.add-files-btn {
    color: var(--blue-color);
}

.add-files-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.apply-form__policy {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 30px !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.apply-form__policy input {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}

.apply-form__policy-text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 1px;
    width: calc(100% - 31px);
}

.apply-form__policy-text a {
    color: var(--blue-color);
}

.apply-form__policy-text a:hover {
    opacity: 0.7;
}

.apply-form__submit {
    height: 40px;
    text-transform: uppercase;
    padding: 12px 0;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid var(--blue-color);
}

.apply-form__submit:hover {
    color: var(--blue-color);
    background-color: transparent;
}

.apply-form__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    border: 1px solid #0000;
    background: -o-linear-gradient(var(--white-color), var(--white-color)) padding-box, -o-linear-gradient(left, var(--primary-color), var(--primary2-color)) border-box;
    background: -webkit-gradient(linear, left top, left bottom, from(var(--white-color)), to(var(--white-color))) padding-box, -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--primary2-color))) border-box;
    background: linear-gradient(var(--white-color), var(--white-color)) padding-box, linear-gradient(90deg, var(--primary-color), var(--primary2-color)) border-box;
    margin-bottom: 30px;
}

.apply-form__flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(86, 120, 255, 0.1);
    width: 60px;
    position: relative;
    border-radius: 8px 0 0 8px;
}

.apply-form__flag:hover {
    cursor: pointer;
}

.apply-form__flag::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    background-image: url(../../assets/img/dd_arrow.svg);
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.apply-form__flag img {
    margin-left: 10px;
    width: 24px;
}

.apply-form__phone input {
    border-radius: 0;
    border: none !important;
    margin-bottom: 0 !important;
    height: 38px !important;
    padding: 9px 19px !important;
    width: calc(100% - 60px);
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
}

.apply-form__phone input:not(:focus):not(:-moz-placeholder-shown):invalid,
.apply-form__phone input:not(:focus):not(:-moz-placeholder-shown):valid {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    border-radius: 10px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.apply-form__phone input:not(:focus):not(:-ms-input-placeholder):invalid,
.apply-form__phone input:not(:focus):not(:-ms-input-placeholder):valid {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    border-radius: 10px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.apply-form__phone input:-internal-autofill-selected,
.apply-form__phone input:hover,
.apply-form__phone input:focus,
.apply-form__phone input:not(:focus):not(:placeholder-shown):invalid,
.apply-form__phone input:not(:focus):not(:placeholder-shown):valid,
.apply-form__phone input:-webkit-autofill,
.apply-form__phone input:valid,
.apply-form__phone input:invalid {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    border-radius: 10px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}