:root {
    --black-color: #040D2D;
    --white-color: #FFF;
    --primary-color: #53D2FA;
    --primary2-color: #4968EB;
    --blue-color: #5678FF;
    --green-color: #2DF90B;
    --yellow-color: #FBE51F;
    --red-color: #F80E38;
}

input[type=text],
input[type=submit],
textarea {
    -webkit-appearance: none;
}

h1 {
    font-size: 50px;
    line-height: 63px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

h3,
.switchers__item {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
}

h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.text_bold {
    font-weight: 600;
}

.text_light {
    color: var(--white-color);
}

* {
    transition: 0.3s ease;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

a {
    color: var(--black-color);
}

.wrapper {
    max-width: 1170px;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.headergov {
    height: 65px;
}

.headergov__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headergov__logo {
    width: 97px;
    object-fit: contain;
    margin-top: -4px;
}

.headergov__nav {
    font-size: 20px;
    line-height: 25px;
}

.navigation {
    display: flex;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item:nth-child(1) {
    width: 86px;
}

.navigation__item:nth-child(2) {
    width: 88px;
}

.navigation__item:nth-child(3) {
    width: 103.33px;
}

.navigation__item:nth-child(4) {
    width: 92px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__item.selected {
    font-weight: 800;
}

.navigation__item_dd {
    position: relative;
}

.navigation__dd-title:hover {
    cursor: pointer;
    opacity: 0.7;
}

.navigation__item_dd::after {
    content: "";
    background-image: url(../../assets/img/arrow_down.svg);
    width: 13.33px;
    height: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 12px;
    transition: 0.3s ease;
}

.dd_opened::after {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    z-index: -1;
    transform: translateY(-40px);
    padding: 30px 30px 30px 31px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 2px 2px 6px rgba(86, 120, 255, 0.1);
    border-radius: 10px 0px 10px 10px;
}

.dd_opened .dropdown {
    opacity: 1;
    z-index: 10;
    transform: translateY(0);
}

.dropdown__item {
    white-space: pre;
    margin-bottom: 20px;
    display: block;
}

.dropdown__item:last-child {
    margin-bottom: 0;
}

a.navigation__item:hover,
.dropdown__item:hover {
    opacity: 0.7;
}

.footer {
    background-color: var(--blue-color);
    padding: 50px 0 20px;
}

.footer * {
    color: var(--white-color);
}

.footer-nav__item:hover,
.footer-links__item:hover,
.socials__item:hover,
.developed-by:hover {
    opacity: 0.5;
}

.footer-nav__item,
.footer-links__item,
.footer__copy-text,
.developed-by {
    white-space: pre;
}

.footer__support-btn {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    display: block;
    padding: 6.5px 0 5.5px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--white-color);
    width: 145px;
    height: 30px;
    white-space: pre;
}

.footer__support-btn:hover {
    color: var(--blue-color);
    background-color: var(--white-color);
    opacity: 1;
}

.footer__copyright,
.developed-by {
    font-family: 'Poppins', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-links {
    font-size: 12px;
    line-height: 15px;
}

.footer-nav__item,
.footer__links1 .footer-links__item {
    margin-right: 30px;
}

.footer-nav__item:last-child,
.footer__links1 .footer-links__item:last-child {
    margin-right: 0;
}

.footer__links2 .footer-links__item {
    margin-right: 31px;
}

.footer__links2 .footer-links__item:last-child {
    margin-right: 0;
}

.socials__item {
    margin-right: 20px;
}

.socials__item:last-child {
    margin-right: 0;
}

.footer__logo {
    margin-right: 28px;
}

.hello {
    padding: 76px 0 107px;
}

.hello__title {
    margin-bottom: 20px;
    max-width: 602px;
}

.hello__description {
    max-width: 566px;
    margin-bottom: 64px;
}

.hello__call {
    background: linear-gradient(271.97deg, var(--primary2-color) 2.51%, var(--primary-color) 98.61%);
    border-radius: 20px;
    padding: 47px 145px 32px;
    width: 100%;
}

.call__description {
    text-align: center;
    max-width: 476px;
    margin-bottom: 61px;
}

.call__description2 {
    text-align: center;
    max-width: 332px;
    margin-bottom: 70px;
    display: none;
}

.call__buttons {
    margin-left: 80px;
    display: flex;
}

.call__button {
    margin-right: 40px;
    width: 80px;
    height: 80px;
    background-image: url(../../assets/img/call_btn_bg.svg);
    background-size: contain;
    background-repeat: no-repeat
}

.call__button:hover {
    opacity: 0.7;
}

.call__button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.call__button:last-child {
    margin-right: 0;
}

.call__button_tg {
    padding: 21px 22px 19px 18px;
}

.call__button_vbr {
    padding: 15px;
}

.call__button_msng {
    padding: 20px;
}

.hello__phone {
    height: 600px;
    width: 296.53px;
    position: absolute;
    z-index: 2;
    right: 66px;
    bottom: -47px;
}

.phone__image {
    width: auto;
    height: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.phone__content {
    width: auto;
    height: auto;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 12px;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
}

.invisible-input {
    display: none;
}

.switcher-contents {
    position: relative;
}

.switcher-contents__item {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
}

.switchers__item:hover {
    cursor: pointer;
}

#switcher1:checked~.block-with_switchers .switchers__item_1,
#switcher2:checked~.block-with_switchers .switchers__item_2 {
    font-weight: 900;
    cursor: default;
}

#switcher1:checked~.block-with_switchers .switcher-contents__item_1,
#switcher2:checked~.block-with_switchers .switcher-contents__item_2 {
    opacity: 1;
    z-index: 2;
}

.howtouse {
    padding-top: 30px;
    padding-bottom: 100px;
}

.howtouse__title {
    margin-bottom: 80px;
}

.howtouse__switcher-contents {
    height: 528px;
}

.howtouse__switchers {
    margin-bottom: 60px;
    display: flex;
}

.switchers__item {
    margin-right: 50px;
}

.switchers__item:last-child {
    margin-right: 0;
}

.howtouse-content-wrapper {
    overflow-x: scroll;
}

.howtouse-content {
    display: flex;
    justify-content: space-between;
}

.howtouse-content__item {
    width: 370px;
    text-align: center;
}

.howtouse-content__image {
    background-image: url(../../assets/img/circle_bg.svg);
    background-size: contain;
    width: 240px;
    height: 240px;
    padding: 45px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

.howtouse-content__item:nth-child(1) .howtouse-content__image::after,
.howtouse-content__item:nth-child(2) .howtouse-content__image::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 125px;
    overflow: hidden;
    background-image: url(../../assets/img/dotted-line.svg);
    background-size: cover;
    right: -142px;
    top: 50%;
    transform: translateY(-50%);
}

.howtouse-content__image img {
    width: 100%;
}

.howtouse-content__title {
    margin-bottom: 23px;
}

.howtouse-content__description {
    margin: 0 auto;
}

.howtouse-content__item:nth-child(1) .howtouse-content__description {
    width: 259px;
}

.howtouse-content__item:nth-child(2) .howtouse-content__description {
    width: 285px;
}

.howtouse-content__item:nth-child(3) .howtouse-content__description {
    width: 257px;
}

.button {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    border: 1px solid var(--blue-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: block;
}

.button:hover {
    background-color: var(--primary2-color);
    color: var(--white-color);
    font-weight: 500;
}

.howtouse__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.howtouse__button_1 {
    width: 200px;
}

.howtouse__button_2 {
    width: 300px;
}